@font-face {
  font-family: 'Otsutome';
  src: url('../src/assets/OtsutomeFont_Ver3_16.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.otsutome-font {
  font-family: 'Otsutome', sans-serif !important;
}
