@font-face {
  font-family: 'Electroharmonix';
  src: url('../src/assets/Electroharmonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.otsutome-font {
  font-family: 'Electroharmonix', sans-serif !important;
}
